<div class="site-header">
  <div class="site-title">
      <h1>tite links</h1>
  </div>
  <div class="user-stuff">
    <% if current_user %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to 'login', login_path %>
      <%= link_to 'signup', signup_path %>
    <% end %>
  </div>
</div>

<%= render @links %>

<div class="col-md-8 pagination-holder">
  <%= paginate @links %>
</div>

<!-- <p id="notice"><%= notice %></p>

<h1>Hawt New Stories</h1>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.votes %></td>
        <td><%= link_to link.title, link.url %></td>
        <td><%= link_to 'Show', link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %> -->
