<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @link.votes.size %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @link.summary %>
</p>

<p><%= link_to 'Back', links_path %></p>

<h4>Comments</h4>
<% @link.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <p><%= link_to "Posted by #{comment.user.username} on #{comment.created_at.to_date.to_s}", [@link, comment] %></p>
<% end %>

<% if current_user %>
  <%= simple_form_for [@link, @comment] do |f| %>
    <%= f.input :body %>
    <%= f.submit %>
  <% end %>
<% end %>
